body{
    background-color: orange;
    text-align: center;
    margin: 0 auto;
}
section{
    border: 8px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
article{
    margin: 10px 20px 10px 20px;
    border: 8px solid black;
}
h1{

}
h2{
    grid-column: 2/4;
    
}
p{
    grid-column: 2/4;
    padding: 5px;
}
.pagination{
    display: flex;
    justify-content: center;
}
.pagination ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.pagination a{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    color: Black;
}
.pagination a:hover{
    background: black;
    color: white;
}
